.root {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 16px;
	border-style: solid;
	border-radius: 50%;
	outline: none;
	box-shadow: none;
	font-size: 1.15rem;

	&:disabled {
		opacity: .75;
	}
}

.icon {
	width: 24px;
	height: 24px;
}